body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 2%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  column-gap: 15px;
}

.grid-item-right {
  margin-right: -10px;
  height: 350px;
  border: 2px solid #6f2c91;
  display: flex;
}

.grid-item-left {
  margin-left: -10px;
  height: 350px;
  border: 2px solid #6f2c91;
  display: flex;
}
